<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 > Nuevo Producto </h1>
    <form th:action="@{/product/save}" method="post">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="description">Descripción:</label>
            <input id="description" name="description" class="form-control"></input>
        </div>

        <div class="form-group">
            <label for="price_unit">Precio Unitario:</label>
            <input type="number" id="price_unit" name="price_unit" class="form-control">
        </div>

        <div class="form-group">
            <label for="urlImage">URL Imagen:</label>
            <input type="text" id="urlImage" name="urlImagen" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Producto</button>

    </form>

</div>
</body>
</html>
