<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Editar Producto</h1>
    <form th:action="@{/product/update}" method="post" th:object="${product}">
        <input type="hidden"  name="id" th:value="${product.id}" >
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="pro_name" class="form-control"
                   th:value="${product.pro_name}" required>
        </div>

        <div class="form-group">
            <label for="description">Descripción:</label>
            <input id="description" name="pro_description" class="form-control"
                th:value="${product.pro_description}">
        </div>

        <div class="form-group">
            <label for="category">Categoria:</label>
            <select id="category" name="category" class="form-control">
                <option value="1"  > Categoria 1</option>
            </select>
        </div>
        <div class="form-group">
            <label for="priceUnit">Precio Unitario:</label>
            <input type="number" id="priceUnit" name="pro_unit_price" class="form-control"
                th:value="${product.pro_unit_price}">
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Producto</button>
    </form>
    <a th:href="@{/product/cancel}"><button class="btn btn-warning">Cancelar</button></a>
</div>
</body>
</html>
