<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta charset="ISO-8859-1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1 > Lista de productos </h1>
    <table>
        <thead>
            <tr>
                <td>N°</td>
                <td>Producto</td>
                <td>Categoria</td>
                <td>Descripción</td>
                <td>Precio Unitario</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td> Zapato A</td>
                <td> negro</td>
                <td> Es el mejor zapato</td>
                <td> 15.20</td>
            </tr>

        </tbody>
    </table>
</body>
</html>
